# Question No : 01

In [2]:
# Crate a pandas series

import pandas as pd

data = pd.Series([ 8, 15, 16, 23,40])

In [3]:
data

0     8
1    15
2    16
3    23
4    40
dtype: int64

In [4]:
type(data)  # check the dtype of the data

pandas.core.series.Series

# Question No : 02

In [6]:
list_data = list(range(1,11)) # crate a list

In [7]:
len(list_data)  # check the lenght of list_data

10

In [8]:
pd.Series(list_data)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

# Question No : 03

In [9]:
# crate a DataFrame

data_2 = pd.DataFrame({"Name":["Alice","Bob","Claire"],"Age":[25,30,27],"Gender":["Female","Male","Female"]})

data_2

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

# Question No : 04

Here are some key differences between DataFrame and Series:


1) Dimensions:


DataFrame: 2-dimensional.

Series: 1-dimensional.


2) Structure:


DataFrame: Consists of multiple columns, each of which can hold different types of data.

Series: Represents a single column of data.


3) Indexing:


DataFrame: Supports both row and column indexing.

Series: Supports only one-dimensional indexing (similar to arrays or lists).


4) Operations:


DataFrame: Supports operations across both rows and columns, making it suitable for many data manipulation tasks.

Series: Primarily used for operations within a single column, but can also be used in some broader operations when aligned with another Series or DataFrame.

In [10]:
# Example of Series

ser_1 = pd.Series([1,2,3,4,5])

In [11]:
print(ser_1)
print(type(ser_1))

0    1
1    2
2    3
3    4
4    5
dtype: int64
<class 'pandas.core.series.Series'>

In [12]:
# Example of DataFrame

data_f = pd.DataFrame({"A":[1,2,3,4],"B":[4,5,6,7]})
print(type(data_f))
data_f

<class 'pandas.core.frame.DataFrame'>

   A  B
0  1  4
1  2  5
2  3  6
3  4  7

# Question No : 05

There are numerous functions available in pandas for data manipulation in a DataFrame. Some common functions include:

1) head() and tail(): These functions allow you to view the first or last few rows of the DataFrame, respectively. They are useful for quickly inspecting the structure and content of the DataFrame.

2) columns and index: These attributes allow you to access the column and index labels of the DataFrame, respectively.

3) drop() and dropna(): These functions are used to remove rows or columns containing missing values (dropna()) or to drop specified rows or columns (drop()).

In [13]:
data_2.head(2) # Example of head() function

    Name  Age  Gender
0  Alice   25  Female
1    Bob   30    Male

In [14]:
data_2.tail(1) # Example of tail() Function

     Name  Age  Gender
2  Claire   27  Female

# Question No : 06

In pandas, both Series and DataFrame are mutable in nature, while Panel is immutable.


Series: Once created, you can modify the elements of a Series, add new elements, or delete existing ones.


DataFrame: Similarly, you can modify the content of a DataFrame, add or remove columns, or change its structure.


Panel: Unlike Series and DataFrame, Panel is a three-dimensional data structure, but it has been deprecated since version 0.25.0 of pandas and is considered immutable. You can't modify the content of a Panel once it's created; instead, you would create a new Panel with the desired modifications.

# Question No : 07

In [16]:
# crate a DataFrame using multiple Series

ser_2 = pd.Series([1,2,3,4])
ser_3 = pd.Series([4,5,6,7])

data_frame = pd.DataFrame({"A":ser_2,"B":ser_3})
print(data_frame)

   A  B
0  1  4
1  2  5
2  3  6
3  4  7

In this example, we have two Series, ser_2 and ser_3. ser_1 contains numerical values, and s2 also contains numerical values. We then create a DataFrame data_frame by passing these Series as a dictionary to the pd.DataFrame() constructor, where the keys of the dictionary become the column names of the DataFrame. The resulting DataFrame has two columns, 'A' and 'B', with the values from ser_2 and ser_3, respectively.