# Question No : 01

## List any five functions of the pandas library with execution.

In [1]:
import pandas as pd

data = pd.DataFrame({'A':[1,2,3,4],'B':[4,5,6,7],'C':[1,4,5,9]})
data

   A  B  C
0  1  4  1
1  2  5  4
2  3  6  5
3  4  7  9

In [2]:
data.head(1)  # head() function

   A  B  C
0  1  4  1

In [3]:
data.tail(1) # tail() function

   A  B  C
3  4  7  9

In [4]:
data.describe() # describe() function

              A         B         C
count  4.000000  4.000000  4.000000
mean   2.500000  5.500000  4.750000
std    1.290994  1.290994  3.304038
min    1.000000  4.000000  1.000000
25%    1.750000  4.750000  3.250000
50%    2.500000  5.500000  4.500000
75%    3.250000  6.250000  6.000000
max    4.000000  7.000000  9.000000

In [8]:
data.info()  # info() function

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       4 non-null      int64
 1   B       4 non-null      int64
 2   C       4 non-null      int64
dtypes: int64(3)
memory usage: 224.0 bytes

In [10]:
pd.read_csv("Vishal.csv")  # read_csv() function

     Name  Age Gen
0  Vishal   12   M
1   Shiva   32   F
2     Raj   45   F
3  Shukla   13   M

# Question No : 02

##  Given a Pandas DataFrame df with columns 'A', 'B', and 'C', write a Python function to re-index the DataFrame with a new index that starts from 1 and increments by 2 for each row.

In [11]:
import pandas as pd

data_1 = pd.DataFrame({"A":[1,2,3,4],"B":[4,5,6,8],"C":[7,5,6,1]},index=[1,3,5,7])
data_1

   A  B  C
1  1  4  7
3  2  5  5
5  3  6  6
7  4  8  1

# Question No : 03

##  You have a Pandas DataFrame df with a column named 'Values'. Write a Python function that iterates over the DataFrame and calculates the sum of the first three values in the 'Values' column. The function should print the sum to the console.

In [18]:
import pandas as pd

df = pd.DataFrame({"Values":[1,2,3,4,5,7]})
df

   Values
0       1
1       2
2       3
3       4
4       5
5       7

In [16]:
df['Values']

   Values
0       1
1       2
2       3
3       4
4       5
5       7

# Question No : 04

 ## Given a Pandas DataFrame df with a column 'Text', write a Python function to create a new column 'Word_Count' that contains the number of words in each row of the 'Text' column

In [3]:
import pandas as pd

# crate a function
def count_words(df):
    df['Word_Count'] = df['Text'].apply(lambda x: len(str(x).split()))
    return df

# crate the dataframe 
df = pd.DataFrame({"Text":["vishal shukla","shukla","my name is bijendr"]})
df = count_words(df)
print(df)

                 Text  Word_Count
0       vishal shukla           2
1              shukla           1
2  my name is bijendr           4

# Question No : 05

###  How are DataFrame.size() and DataFrame.shape() different?

* DataFrame.size: This attribute returns the total number of elements in the DataFrame, which is equal to the product of the number of rows and the number of columns. It provides the total count of elements in the DataFrame.

* DataFrame.shape: This attribute returns a tuple representing the dimensions of the DataFrame. The tuple contains two elements: the number of rows and the number of columns, respectively. It provides the structure or shape of the DataFrame.

In [5]:
# Example 

import pandas as pd

data = {"A":[1,2,4,5],"B":[7,8,9,6],"C":[1,5,9,7]}
data_f = pd.DataFrame(data)
data_f

   A  B  C
0  1  7  1
1  2  8  5
2  4  9  9
3  5  6  7

In [9]:
print("dataframe.size:",data_f.size)

dataframe.size: 12

In [10]:
print("dataframe.shape:",data_f.shape)

dataframe.shape: (4, 3)

* DataFrame.size: Total number of elements (rows * columns)

* DataFrame.shape: Tuple containing (number of rows, number of columns)

# Question No : 06

###  Which function of pandas do we use to read an excel file?

 We can use the read_excel() function to read data from an Excel file. For example-

In [21]:
import pandas as pd

read_file = pd.read_excel("Vishal.xlsx")
print(read_file)

   Unnamed: 0  V  F  H
0           0  4  4  4
1           1  7  5  2
2           2  8  8  3
3           3  9  9  6

# Question No : 07

###  You have a Pandas DataFrame df that contains a column named 'Email' that contains email addresses in the format 'username@domain.com'. Write a Python function that creates a new column 'Username' in df that contains only the username part of each email address.

In [26]:
import pandas as pd 

def new_column(x):
    x['Username'] = x['Email'].str.split('@').str[0]
    return x

df = pd.DataFrame({"Email":['bshukla2236@gmail.com','shiv@gmail.com','Ram@gmail.com']})
df = new_column(df)
print(df)

                   Email     Username
0  bshukla2236@gmail.com  bshukla2236
1         shiv@gmail.com         shiv
2          Ram@gmail.com          Ram

# Question No : 08

###  You have a Pandas DataFrame df with columns 'A', 'B', and 'C'. Write a Python function that selects all rows where the value in column 'A' is greater than 5 and the value in column 'B' is less than 10. The function should return a new DataFrame that contains only the selected rows.

In [2]:
import pandas as pd 

# crate a function 

def fun(df):
    sel_row = df[(df["A"]>5) & (df["B"]<10)]
    return sel_row

# crate a dataframe

df = pd.DataFrame({"A":[1,2,3,8,6],"B":[11,14,3,8,4],"C":[4,5,6,1,2]})
sel_df = fun(df)
print(sel_df)

   A  B  C
3  8  8  1
4  6  4  2

# Question No : 09

### Given a Pandas DataFrame df with a column 'Values', write a Python function to calculate the mean, median, and standard deviation of the values in the 'Values' column.

In [3]:
import pandas as pd 

def calcu_fun(df):
    col_values = df["Values"]
    mean_value = col_values.mean()
    median_value = col_values.median()
    stan_devia = col_values.std()
    return mean_value, median_value, stan_devia

df = pd.DataFrame({"Values":[1,4,7,8,5,6]})
mean, median, standard_deviation = calcu_fun(df)
print(f"The mean value is: {mean}")
print(f"The median value is: {median}")
print(f"The standard deviation is: {standard_deviation}")

The mean value is: 5.166666666666667
The median value is: 5.5
The standard deviation is: 2.48327740429189

# Question No : 10

###  Given a Pandas DataFrame df with a column 'Sales' and a column 'Date', write a Python function to create a new column 'MovingAverage' that contains the moving average of the sales for the past 7 days for each row in the DataFrame. The moving average should be calculated using a window of size 7 and should include the current day.

In [4]:
import pandas as pd

def calculate_moving_average(df):
    df['Date'] = pd.to_datetime(df['Date'])
    df.sort_values(by='Date', inplace=True)
    df['MovingAverage'] = df['Sales'].rolling(window=7, min_periods=1).mean()
    return df

data = {'Date': pd.date_range(start='2024-01-01', periods=20),
        'Sales': [10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100, 105]}
df = pd.DataFrame(data)

df = calculate_moving_average(df)
print(df)

         Date  Sales  MovingAverage
0  2024-01-01     10           10.0
1  2024-01-02     15           12.5
2  2024-01-03     20           15.0
3  2024-01-04     25           17.5
4  2024-01-05     30           20.0
5  2024-01-06     35           22.5
6  2024-01-07     40           25.0
7  2024-01-08     45           30.0
8  2024-01-09     50           35.0
9  2024-01-10     55           40.0
10 2024-01-11     60           45.0
11 2024-01-12     65           50.0
12 2024-01-13     70           55.0
13 2024-01-14     75           60.0
14 2024-01-15     80           65.0
15 2024-01-16     85           70.0
16 2024-01-17     90           75.0
17 2024-01-18     95           80.0
18 2024-01-19    100           85.0
19 2024-01-20    105           90.0

# Question No : 11

### You have a Pandas DataFrame df with a column 'Date'. Write a Python function that creates a new column 'Weekday' in the DataFrame. The 'Weekday' column should contain the weekday name (e.g. Monday, Tuesday) corresponding to each date in the 'Date' column.

In [7]:
import pandas as pd

def weekday_fun(x):
    x["Date"] = pd.to_datetime(df["Date"])
    x["Weekday"] = x["Date"].dt.strftime('%A')
    return x

data = {"Date":['2024-01-01','2024-01-02','2024-01-03','2024-01-04','2024-01-05']}
df = pd.DataFrame(data)
df = weekday_fun(df)
print(df)

        Date    Weekday
0 2024-01-01     Monday
1 2024-01-02    Tuesday
2 2024-01-03  Wednesday
3 2024-01-04   Thursday
4 2024-01-05     Friday

# Question No : 12

###  Given a Pandas DataFrame df with a column 'Date' that contains timestamps, write a Python function to select all rows where the date is between '2023-01-01' and '2023-01-31.

In [8]:
import pandas as pd

def select_rows_in_date_range(df, start_date, end_date):
    df['Date'] = pd.to_datetime(df['Date'])
    mask = (df['Date'] >= start_date) & (df['Date'] <= end_date)
    selected_rows = df[mask]
    return selected_rows

data = {'Date': pd.date_range(start='2023-01-01', end='2023-02-28', freq='D')}
df = pd.DataFrame(data)
start_date = '2023-01-01'
end_date = '2023-01-31'
selected_df = select_rows_in_date_range(df, start_date, end_date)
print(selected_df)

         Date
0  2023-01-01
1  2023-01-02
2  2023-01-03
3  2023-01-04
4  2023-01-05
5  2023-01-06
6  2023-01-07
7  2023-01-08
8  2023-01-09
9  2023-01-10
10 2023-01-11
11 2023-01-12
12 2023-01-13
13 2023-01-14
14 2023-01-15
15 2023-01-16
16 2023-01-17
17 2023-01-18
18 2023-01-19
19 2023-01-20
20 2023-01-21
21 2023-01-22
22 2023-01-23
23 2023-01-24
24 2023-01-25
25 2023-01-26
26 2023-01-27
27 2023-01-28
28 2023-01-29
29 2023-01-30
30 2023-01-31

# Question No : 13

### To use the basic functions of pandas, what is the first and foremost necessary library that needs to be imported?

To use the basic functions of Pandas, the first and foremost necessary library that needs to be imported is pandas itself. You typically import it using the following convention:

In [9]:
import pandas as pd